<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="~/Content/bootstrap.css">
        <link rel="stylesheet" href="~/Content/site.css">
        <meta name="viewport" content="width=device-width" />
        
    </head>
    <body>

        <div class="container-fluid">
        	<header class="row">
                <div class="col-md-3 text-left title">@ViewBag.Title</div>
                <div class="col-md-6 col-md-offset-1 text-left">@Html.ActionLink("Sweet Home", "Index", "Home", null, new { @class = "header-title" })</div>
                <div class="col-md-2 user-info">
                    <div class="row">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </header>
        	<div id="body">
        	    @RenderBody()
        	</div>
        	<footer class="row"></footer>
        </div>
    </body>
   @RenderSection("Scripts", false)
</html>
